<head>
    <link rel="stylesheet" type="text/css" href="personal-projects.css"/>
</head>
  <body>
    <div class="header">
      <div class = "left">
      </div>
      <div class = "right">
          <div><a class = "nav" href = "../../index.html">HOME</a></div>
          <div><a class = "nav" href="../About-Me/about-me.html">ABOUT ME</a></div>
          <div><a class = "nav" href="../Personal-Projects/personal-projects.html">PERSONAL PROJECTS</a></div>
      </div>
    </div>
      <div class = "projects-container">
        
        <div class = "project">
          <h1>Jeporady Game</h1>
          <button class = "Github">Github</button>
          <button class = "Details">Details</button>
        </div>
        
        <div class = "project">
          <h1>Oplogic Web Application</h1>
          <button class = "Github">Github</button>
          <button class = "Details">Details</button>
        </div>

        
        <div class = "project">
          <h1>Fitness Application</h1>
          <button class = "Github">Github</button>
          <button class = "Details">Details</button>
        </div>

      </div>
</body>
