<head>
    <link rel="stylesheet" type="text/css" href="personal-projects.css"/>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">CompanyLogo</a>
        <div class="header-right">
          <a href ="../../index.html">Home</a>
          <a href="../About-Me/about-me.html">About Me</a>
          <a class = "active" href="./personal-projects.html">Personal Projects</a>
        </div>
      </div>
      <div class = "projects-container">
        
        <div class = "project">
          <h1>Jeporady Game</h1>
        </div>
        
        <div class = "project">
          <h1>Oplogic Web Application</h1>
        </div>

        
        <div class = "project">
          <h1>Fitness Application</h1>
        </div>

      </div>
</body>
