body {
  background-image: url( '../../background.jpg' );
  background-position: center center;
  background-size: cover
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 10;
  background-position: center top;
  background-size: auto 200px;
  background-repeat: repeat-x;
  background-color: black;
  opacity: .5;
}

.left {
z-index: 20;
width: 60%;
float: left;
}
.right{
display: flex;
justify-content: space-around;
z-index: 20;
width: 40%;
float: right;
}
.nav {
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
  color: white;
  z-index: 12;
  opacity: 1;
  text-decoration: none;
}